* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
}

.item {
	width: 100dvw;
	height: 100dvh;
	position: relative;
	overflow: hidden;
	padding: 40px;
	flex: none;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro .text {
	font-size: 8rem;
}

.item p {
	font-size: 10rem;
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 1;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.slider {
	display: flex;
	height: 100dvh;
	will-change: transform;
}

.scroll-container {
	overflow: hidden;
	height: 100dvh;
}
